

body{

    background-color: rgb(16, 0, 80);
    color: rgb(197, 188, 188);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

}

.biblioteca{

    text-decoration: none;
   

}


.botao {
    background-color: var(--fundo-cabeçalho);
    width: 180px;   
    height: 290px;  
    border-radius: 12px;  
    box-shadow: 4px 4px 12px #000; 
    align-items: center;
    margin: 30px;
}