body{

background-color: rgb(16, 0, 80);
color: rgb(197, 188, 188);
max-width: 1200px;
margin: 0 auto;
padding: 15px;

}

header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#title{

    flex-direction: column;
    line-height: 10px;

}

li{

    display: inline-block;
    margin: 20px;

}

a{

    color: #8e9dab;

}


a:hover{

    color: #906fa8;
    transition: 0.5s all;

}

#inscreva-se-btn{

    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;

}

#inscreva-se-btn:hover{

    background-color: #a82223;
    color: black;
    transition: 0.5s;

}

#Enviar{

    border: 1px solid #801;
    background: #800;
    width: 50%;
    margin: 10px;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;

}


H1{

    font-weight: 200;

}

main{

    display: flex;
    flex-direction: row;
    margin-top: 50px;

}


H2{

    font-size: 56px;
    line-height: 10px;

}


span{

    color: #800;

}


P{

    line-height: 20px;
    max-width: 500px;

}


img{

    width: 400px;
    margin: 0 0 0 200px;
    border-radius: 50px;

}


form{

    display: flex;
    flex-direction: column;
    width: 70%;

}

form [type="submit"] {

    height: 50px;
    width: 50%;
    background-color:  #800;
    font-weight: bold;
    color: white;

}


form [type="submit"]:hover {

    cursor: pointer;

}


input{

    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}